<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib/Api</directory>
      <directory suffix=".php">./lib/Model</directory>
      <directory suffix=".php">./lib/php/Sdk</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Sdk">
      <directory>./test/Sdk</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <env name="KINDE_HOST" value="YOUR_KINDE_HOST"/>
    <env name="KINDE_REDIRECT_URI" value="YOUR_KINDE_REDIRECT_URI"/>
    <env name="KINDE_CLIENT_ID" value="YOUR_KINDE_CLIENT_ID"/>
    <env name="KINDE_CLIENT_SECRET" value="YOUR_KINDE_CLIENT_SECRET"/>
    <env name="KINDE_POST_LOGOUT_REDIRECT_URL" value="YOUR_KINDE_POST_LOGOUT_REDIRECT_URL"/>
  </php>
</phpunit>
